<%#= render 'shared/search_form' %>

<h1>List of all users</h1>

<%= will_paginate %>
    <ul class="users">
        <%= render @users %>																												<%# @users are objects of User. Automatically use each for this collection. Search partial _user.html.erb and take his code %>
    </ul>
<%= will_paginate %>
